:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    background-image: url(../assets/background.jpg);
    background-size: 80%;
}

.defeated-count {
    width: 280px;
    height: 50px;
    background-color: #e0102f;
    font-family: New Super Mario Font U, sans-serif;
    border-radius: 10px;
    border: solid 3px #17419a;
}

.player-img {
    width: 380px;
    height: 280px;
}

.add-villain {
    position: absolute;
    top: 100px;
    right: 80px;
    margin: 30px;
    background-color: #95a4ae;
}

.villains {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.newVillain {
    font-size: 25px;
    background-color: #f8be10;
    border: solid 4px #08a936;
    color: #08a936;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 90px;
    margin-top: 50px;
    font-family: New Super Mario Font U, sans-serif;
    border-radius: 10px;
}

.mario-img {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}

.mario-hp {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    font-family: New Super Mario Font U, sans-serif;
    font-size: 40px;
}

.dead {
    transform: rotate(-50deg);
    transition: transform 2s ease-in-out;
}

.hide {
    display: none;
}
